body {
	background-color: #E0E4CC;
}

h1.loading {
	color: #8F4F1C;
}

p {
	color: #8F4F1C;
	font-family: sans-serif;
	font-size: 14px;
}

.innerHead {
	font-weight: bold;
}

p.inst {
	display: none;
}

p.selectionOptions {
	display: none;
}